Repository americanexpress/holocron, pull requests merged in 2020-09, with the labels that each got.

#49 fix(holocron/load): prevent rebuilding without reducer
  packages/holocron/__tests__/ducks/load.spec.js
  packages/holocron/src/ducks/load.js
Labels: holocron, test

#52 chore(workflow): add health check
  .github/workflows/health-check.yml
Labels: github, workflow

#39 chore(github): add action for release
  .github/workflows/release.yml
  .travis.yml
  README.md
Labels: github, workflow

#53 chore(release): 1.1.1
  CHANGELOG.md
  lerna.json
  packages/holocron-module-register-webpack-plugin/CHANGELOG.md
  packages/holocron-module-register-webpack-plugin/package.json
  packages/holocron-module-route/CHANGELOG.md
  packages/holocron-module-route/package.json
  packages/holocron/CHANGELOG.md
  packages/holocron/package.json
  packages/iguazu-holocron/CHANGELOG.md
  packages/iguazu-holocron/package.json
Labels: holocron, holocron-module-register-webpack-plugin, holocron-module-route, iguazu-holocron

#54 release actions fix
  .github/workflows/release.yml
Labels: github, workflow
