Repository americanexpress/holocron, pull requests merged in 2022-04, with the labels that each got.

#119 fix(labeler-workflow): proper globbing
  .github/labeler.yml
Labels: github

#121 chore(action): publish include git author
  .github/workflows/publish.yml
Labels: github, workflow

#123 fix(ModuleName): use correct default for old bundler
  packages/holocron-module-register-webpack-plugin/HolocronModuleRegisterPlugin.js
  packages/holocron-module-register-webpack-plugin/__tests__/HolocronModuleRegisterPlugin.spec.js
Labels: test, holocron-module-register-webpack-plugin, one-app-team-review-requested
