Repository americanexpress/holocron, pull requests merged in 2023-08, with the labels that each got.

#148 feat(compose): add console error
  packages/holocron/__tests__/ducks/compose.spec.js
  packages/holocron/src/ducks/compose.js
Labels: test, one-app-team-review-requested

#143 feat(externals-registry): manage module external dependencies
  packages/holocron/__tests__/__snapshots__/index.spec.js.snap
  packages/holocron/__tests__/__snapshots__/loadModule.node.spec.js.snap
  packages/holocron/__tests__/externalRegistry.spec.jsx
  packages/holocron/__tests__/loadModule.node.spec.js
  packages/holocron/__tests__/loadModule.web.spec.js
  packages/holocron/__tests__/moduleRegistry.spec.js
  packages/holocron/docs/api/README.md
  packages/holocron/package.json
  packages/holocron/src/externalRegistry.js
  packages/holocron/src/index.js
  packages/holocron/src/loadModule.node.js
  packages/holocron/src/loadModule.web.js
  packages/holocron/src/moduleRegistry.js
  yarn.lock
Labels: test, holocron, one-app-team-review-requested, Critical

#149 fix(RenderModule): check module loaded state before rendering
  packages/holocron/__tests__/RenderModule.spec.jsx
  packages/holocron/__tests__/__snapshots__/RenderModule.spec.jsx.snap
  packages/holocron/src/RenderModule.jsx
Labels: one-app-team-review-requested

#150 fix(externalRegistry): prevent undefined entries
  packages/holocron/__tests__/externalRegistry.spec.jsx
  packages/holocron/src/externalRegistry.js
Labels: one-app-team-review-requested, Roadmap
