Repository americanexpress/holocron, pull requests merged in 2023-10, with the labels that each got.

#158 chore(workflows): use GITHUB_OUTPUT instead of ::set-output
  .github/workflows/publish.yml
Labels: github, workflow

#157 Fix/update eslint config amex 13
  lernaDeploy.js
  package.json
  packages/holocron-module-register-webpack-plugin/__tests__/HolocronModuleRegisterPlugin.spec.js
  packages/holocron-module-route/__tests__/ModuleRouteUtils.spec.jsx
  packages/holocron/__tests__/loadModule.web.spec.js
  packages/holocron/src/loadModule.web.js
  scripts/check-versions.js
  yarn.lock
Labels: dependencies, test, one-app-team-review-requested

#160 chore(iguazuHolocron): deprecate package
  .github/labeler.yml
  .github/workflows/set-tag.yml
  README.md
  packages/iguazu-holocron/.babelrc
  packages/iguazu-holocron/CHANGELOG.md
  packages/iguazu-holocron/LICENSE.txt
  packages/iguazu-holocron/README.md
  packages/iguazu-holocron/__tests__/.eslintrc.json
  packages/iguazu-holocron/__tests__/EmptyModule.spec.jsx
  packages/iguazu-holocron/__tests__/configureIguazuSSR.spec.js
  packages/iguazu-holocron/__tests__/index.spec.jsx
  packages/iguazu-holocron/__tests__/queryModule.spec.js
  packages/iguazu-holocron/__tests__/queryModuleWithData.spec.js
  packages/iguazu-holocron/iguazu-holocron.png
  packages/iguazu-holocron/package.json
  packages/iguazu-holocron/src/EmptyModule.jsx
  packages/iguazu-holocron/src/configureIguazuSSR.js
  packages/iguazu-holocron/src/index.js
  packages/iguazu-holocron/src/queryModule.js
  packages/iguazu-holocron/src/queryModuleWithData.js
  yarn.lock
Labels: github, workflow, test, iguazu-holocron, one-app-team-review-requested
